<div class="ui container">
  <div class="ui very padded center aligned piled segment">
    <div class="ui upload  center aligned icon header">
      <i class="music icon"></i>
      <div class="ui hidden divider"></div>
      Select an Audio File to continue
      <div class="sub header">
        Click or drag n drop
      </div>
    </div>
  </div>
</div>