<div class="ui container">
  <div id="file-upload" class="ui file-upload very padded center aligned piled segment">
    {{#if isUploading}}
      {{#ui-progress percent=uploadProgress class="success indicating"}}
        <div class="bar">
          <div class="progress"></div>
        </div>
        <div class="label">{{if (eq uploadProgress 100) 'File Upload Complete' 'File is uploading'}}</div>
      {{/ui-progress}}
    {{else}}
      <div class="ui upload  center aligned icon header">
        <i class="music icon"></i>
        <div class="ui hidden divider"></div>
        Select an Audio File to continue
        <div class="sub header">
          Click or drag n drop
        </div>
      </div>
    {{/if}}


  </div>
</div>