{{#ui-modal name="help" class="help"}}
  <h2 class="ui icon header">
    <i class="help"></i>
    Instructions
  </h2>
  <div class="content">
    <div class="ui relaxed divided big list">
      <div class="item">
        <div class="content">
          Use <img  class="ui spaced image" width="60" src="assets/images/ctrl.svg" alt=""> + <img  class="ui medium spaced image" src="assets/images/space.svg" alt=""> while editing a segment to play and pause the segment
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img  class="ui  spaced image" width="60" src="assets/images/enter.svg" alt=""> key to stop editing a segment.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img  class="ui spaced image" width="60" src="assets/images/ctrl.svg" alt=""> +  <img class="ui spaced image" width="45" src="assets/images/k.svg" alt=""> or <img  class="ui spaced image" width="60" src="assets/images/ctrl.svg" alt=""> +  <img class="ui spaced image" width="50" src="assets/images/right.svg" alt="">  to navigate right among the segments.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img  class="ui spaced image" width="60" src="assets/images/ctrl.svg" alt=""> +  <img class="ui spaced image" width="45" src="assets/images/j.svg" alt=""> or <img  class="ui spaced image" width="60" src="assets/images/ctrl.svg" alt=""> +  <img class="ui spaced image" width="50" src="assets/images/left.svg" alt="">  to navigate left among the segments.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img  class="ui spaced image" width="60" src="assets/images/ctrl.svg" alt=""> +  <img  class="ui  spaced image" width="45" src="assets/images/I.svg" alt=""> or, <img  class="ui spaced image" width="60" src="assets/images/ctrl.svg" alt=""> +  <img  class="ui spaced image" width="45" src="assets/images/E.svg" alt=""> to start editing the current segment.
        </div>
      </div>
      <div class="item">
        <div class="content">
          <strong>Note: The feature of scrolling, while navigating segments is currently a work in progress, manually adjust scroll bar for current use.</strong>
        </div>
      </div>
      <!--<div class="item">-->
      <!--<div class="content">-->
      <!--Use ctrl + P to toggle between play and pause.-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
{{/ui-modal}}