<div class="ui modal respeak">
  <h2 class="ui icon header">
    <i class="help"></i>
    Instructions
  </h2>
  <div class="content">
    <div class="ui relaxed divided big list">
<!--      <div class="item">-->
<!--        <div class="content">-->
<!--          <b>General Controls:</b>-->
<!--        </div>-->
<!--      </div>-->
      <div class="item">
        <div class="content">
          Use <img class="ui spaced image" width="60" src="../assets/images/ctrl.svg" alt=""> + <img
          class="ui spaced image" width="45" src="../assets/images/right.svg" alt="">to navigate right among the
          segments.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img class="ui spaced image" width="60" src="../assets/images/ctrl.svg" alt=""> + <img
          class="ui spaced image" width="50" src="../assets/images/left.svg" alt=""> to navigate left among the
          segments.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img class="ui spaced image" width="60" src="../assets/images/ctrl.svg" alt=""> + <img
          class="ui  spaced image" height="40" width="150" src="../assets/images/space.svg" alt=""> to play.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img class="ui spaced image" width="60" src="../assets/images/ctrl.svg" alt=""> + <img
          class="ui spaced image" width="50" src="../assets/images/alt.svg" alt=""> pause.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img class="ui spaced image" width="60" src="../assets/images/ctrl.svg" alt=""> + <img
          class="ui spaced image" width="50" src="../assets/images/up.svg" alt=""> to record a segments.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img class="ui spaced image" width="60" src="../assets/images/ctrl.svg" alt=""> + <img
          class="ui spaced image" width="50" src="../assets/images/down.svg" alt=""> to stop recording the segments.
        </div>
      </div>
      <b> (For editing the segments:) </b>
      <div class="item">
        <div class="content">
          Use <img class="ui spaced image" width="60" src="../assets/images/ctrl.svg" alt=""> + <img
          class="ui spaced image" width="50" src="../assets/images/D.svg" alt=""> to divide the currently selected
          (sub)segment.
        </div>
      </div>
      <div class="item">
        <div class="content">
          Use <img class="ui spaced image" width="60" src="../assets/images/ctrl.svg" alt=""> + <img
          class="ui spaced image" width="50" src="../assets/images/M.png" alt=""> to merge sub-segments into a bigger
          sub(segment).
        </div>
      </div>
    </div>
  </div>
</div>