  <div class="image">
    <img src="https://via.placeholder.com/150">
  </div>
  <div class="content">
    <a class="header">Header</a>
    <div class="meta">
      <span>Description</span>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquam aliquid atque cupiditate deserunt doloremque,
        doloribus exercitationem explicabo impedit natus nemo
        perspiciatis quidem quod saepe suscipit veniam veritatis
        voluptas voluptate? Porro?Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Dolor ipsa quae suscipit. Cum doloremque exercitationem illo iusto laboriosam nam, nemo nesciunt nulla obcaecati perspiciatis praesentium reiciendis rerum sunt voluptatem, voluptatum.</p>
    </div>
    <div class="extra">
      Additional Details
    </div>
  </div>
