  <div class="image">
    <img src="https://via.placeholder.com/150">
  </div>
  <div class="content">
    <div class="meta">
      <span>Mon, 2/25 · 4:38 PM </span>
    </div>
    {{#link-to 'editor' class='header'}}{{data.name}}{{/link-to}}
    <div class="extra">
      Additional Details
    </div>
  </div>
