<div id="playlist">
{{#if isPlayerLoading}}
  <div class="ui fluid placeholder">
    <div class="image header">
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="paragraph">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
{{else}}

{{/if}}
</div>