<div class="container">
  <div class="wrapper">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title"> Transcriptor </h1>
        <p class="lead">Every control and state available.</p>
      </header>
      <div class="post-content">
        <div id="top-bar" class="playlist-top-bar">
          <div class="playlist-toolbar">
            <div class="ui  basic icon buttons">
              <button class="btn-play ui  positive  {{if disablePlay 'active' }} button" onclick="{{action (mut disablePlay)}}">
                <i class="play green icon"></i>
              </button>
              <button class="btn-pause ui  orange  button">
                <i class="ui pause orange icon"></i>
              </button>
              <button class="btn-stop btn ui  negative button">
                <i class="ui stop red icon"></i>
              </button>
              <button class="btn-rewind btn ui  secondary button">
                <i class="ui redo icon"></i>
              </button>
              <!--<button class="btn-fast-forward btn ui  secondary button">-->
                <!--<i class="ui fast forward icon"></i>-->
              <!--</button>-->
              <button title="zoom in" class="btn-zoom-in btn ui  secondary button">
                <i class="ui zoom-in blue icon"></i>
              </button>
              <button title="zoom out" class="btn-zoom-out btn  ui secondary button">
                <i class="ui zoom-out blue icon"></i>
              </button>
            </div>
            <div class="ui basic icon buttons btn-playlist-state-group">
               <button class="btn-cursor ui button active" title="select cursor">
               <i class="headphones icon"></i>
               </button>
                <button class="btn-select ui button" title="select audio region">
                     <i class="expand arrows alternate icon"></i>
                </button>
              <!--<span class="btn-shift btn btn-default" title="shift audio in time">-->
                     <!--<i class="fa fa-arrows-h"></i>-->
                     <!--</span>-->
              <!--<span class="btn-fadein btn btn-default" title="set audio fade in">-->
                     <!--<i class="fa fa-long-arrow-left"></i>-->
                     <!--</span>-->
              <!--<span class="btn-fadeout btn btn-default" title="set audio fade out">-->
                     <!--<i class="fa fa-long-arrow-right"></i>-->
              <!--</span>-->
            </div>
            <!--<div class="btn-group btn-fade-state-group">-->
              <!--<span class="btn btn-default btn-logarithmic active">logarithmic</span>-->
              <!--<span class="btn btn-default btn-linear">linear</span>-->
              <!--<span class="btn btn-default btn-exponential">exponential</span>-->
              <!--<span class="btn btn-default btn-scurve">s-curve</span>-->
            <!--</div>-->
            <!--<div class="btn-group btn-select-state-group">-->
                     <!--<span class="btn-loop btn btn-success disabled" title="loop a selected segment of audio">-->
                     <!--<i class="fa fa-repeat"></i>-->
                     <!--</span>-->
              <!--<span title="keep only the selected audio region for a track"-->
                    <!--class="btn-trim-audio btn btn-primary disabled">Trim</span>-->
            <!--</div>-->
            <!--<div class="btn-group">-->
                     <!--<span title="Prints playlist info to console"-->
                           <!--class="btn btn-info">Print</span>-->
              <!--<span title="Clear the playlist's tracks" class="btn btn-clear btn-danger">Clear</span>-->
            <!--</div>-->
            <!--<div class="btn-group">-->
                     <!--<span title="Download the current work as Wav file" class="btn btn-download btn-primary">-->
                     <!--<i class="fa fa-download"></i>-->
                     <!--</span>-->
            <!--</div>-->
          </div>
        </div>
        <div id="playlist"></div>
        <div class="playlist-bottom-bar">
          <form class="form-inline">
            <select class="time-format form-control">
              <option value="seconds">seconds</option>
              <option value="hundredths" selected="selected">hundredths</option>
              <option value="thousandths">thousandths</option>
              <option value="hh:mm:ss">hh:mm:ss</option>
              <option value="hh:mm:ss.u">hh:mm:ss + tenths</option>
              <option value="hh:mm:ss.uu">hh:mm:ss + hundredths</option>
              <option value="hh:mm:ss.uuu">hh:mm:ss + milliseconds</option>
            </select>
            <input type="text" class="audio-start input-small form-control">
            <input type="text" class="audio-end form-control">
            {{input class="audio-pos"}}{{currentSpan}}
          </form>
          <form class="form-inline">
            <div class="form-group">
              <label for="master-gain">Master Volume</label>
              <input type="range" min="0" max="100" value="100" class="master-gain form-control" id="master-gain">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" class="automatic-scroll"> Automatic Scroll
              </label>
            </div>
          </form>
          seek to time
          <form class="ui form" onsubmit="preventDefault();">
            <div class="ui small icon input">
              <input type="text"  value="14" id="seektime"/>
            </div>
          </form>            <button class="ui basic primary button btn-seektotime">Seek !</button>

          <div class="sound-status">

          </div>
           {{#if (gt loadProgress 0) }}
             {{#ui-progress percent=loadProgress class="teal indicating"}}
               <div class="bar"></div>
               <div class="label loading-data"></div>
             {{/ui-progress}}
           {{/if}}


          <!--<div class="track-drop"></div>-->
          <div class="ui horizontal segments">
            <div class="ui placeholder track-drop segment">
              <div class="ui icon header">
                <i class="file audio icon"></i>
                Drop your audio file here.
              </div>
            </div>
            <div class="ui placeholder transcription-drop segment">
              <div class="ui icon header">
                <i class="audio description icon"></i>
                Drop your transcription file here.
              </div>
            </div>

          </div>

          <!--<div class="loading-data"></div>-->
        </div>
      </div>
    </article>
  </div>
</div>