<div id="playlist">
{{#if isPlayerLoading}}
  <div class="ui fluid placeholder">
    <div class="line"></div>
  </div>
{{else}}

{{/if}}
</div>
<div class="ui icon basic tiny buttons">
  <button class="btn-play ui  positive  {{if disablePlay 'active' }} button" onclick="{{action (mut disablePlay)}}" title="Play"><i class="green play icon"></i></button>
  <button class="btn-pause ui orange  button" title="Pause"><i class="orange pause icon"></i></button>
</div>