<h2 class="ui maroon header" style="margin-left: 350px;">
  <i class="file headphones basic icon"></i>
  <div class="content">
    {{model.transcription.name}}
  </div>
</h2>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
{{wave-visualiser currentTimer=0.01 data=model}}
