<div class="ui relaxed items">
  {{#each model as |transcription|}}
    {{transcription-card data=transcription redirectSuccess=(action 'redirectSuccess')}}
  {{else}}
    <div class="ui disabled header">No transcriptions.</div>
  {{/each}}
</div>