<div class="ui secondary pointing menu">
  <a class="active item">
    Home
  </a>
  {{#if session.isAuthenticated}}
    <div class="right menu">
      <a class="ui item" {{action 'logout'}}>
        Logout
      </a>
    </div>
  {{/if}}
</div>
{{outlet}}