<div class="ui secondary pointing menu">
  {{#link-to 'editor' class='item'}}Home{{/link-to}}
  {{#link-to 'jobs' class='item'}}Jobs{{/link-to}}
  {{#if session.isAuthenticated}}
    <div class="right menu">
      <a class="ui item" {{action 'logout'}}>
        Logout
      </a>
    </div>
  {{/if}}
</div>
{{outlet}}