<div class="ui secondary pointing menu">
  <a class="active item">
    Home
  </a>
  <div class="right menu">
    <a class="ui item" {{action 'logout'}}>
      Logout
    </a>
  </div>
</div>
{{outlet}}