<div class="ui relaxed fluid grid">
  <div class="sixteen wide column">
    <h1 class="ui header"> Transcriptor </h1>
    <div class="ui fluid segment">
      {{wave-visualiser currentTimer=0.01 data=model}}
    </div>
    <!--<div class="ui segment">-->
    {{!currentTime}}
    {{! --{{video-player onplay=(action 'play')
                    ontimeupdate=(action 'timeupdate')
    }}

    <!--</div>-->
  </div>
</div>