<div class="ui relaxed fluid grid">
  <div class="sixteen wide column">
    <div class="ui fluid segment">
      {{wave-visualiser}}
    </div>
    <div class="ui segment">
      {{currentTime}}
      {{video-player onplay=(action 'play')
                      ontimeupdate=(action 'timeupdate')
      }}
    </div>
  </div>
</div>
{{outlet}}