<div class="ui relaxed fluid grid container">
  <div class="four wide column">
    <div class="ui fluid segment">
      Audio Visualiser
    </div>
  </div>
  <div class="twelve wide column">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquid animi aut consequuntur, eos ex laboriosam, laborum nemo perspiciatis sed, voluptatem voluptatibus. Aliquam aspernatur autem excepturi minima, natus voluptatem.
    <div class="ui fluid segment">
      Transcriptions
    </div>
  </div>
</div>
{{outlet}}