<div class="ui relaxed fluid grid">
  <div class="sixteen wide column">
    <div class="ui fluid segment">
      {{wave-visualiser}}
    </div>
    <div class="ui segment">
      {{video-player currentTime=currentTime}}
    </div>
  </div>
</div>
{{outlet}}