<div class="ui three column container stackable doubling centered grid">
  <div class="column">
    {{forms/register-form data=model session=session isLoading=isLoading errorMessage=errorMessage}}
  </div>
</div>